/* Paleta de colores */
:root {
    --dark-blue: #047cd7;
    --light-blue: #98c1d9;
    --lighter-blue: #e0fbfc;
    --orange: #de4f2b;
    --navy: #131c81;
    --soft-orange: #f7b683;
    --soft-blue: #9bd0c8;
    --my-blue: #51abdb;
    --white: #ffffff;
}

/* Fondo de la página */
body {
    background-color: var(--white);
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 100vh; /* Altura completa de la ventana */
    color: var(--my-blue);
    font-family: Arial, sans-serif;
}

/* Contenedor del registro */
.register-container {
    background-color: var(--my-blue);
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Logo */
.logo {
    max-width: 150px; /* Tamaño del logo */
}

/* Botón de envío */
.btn-login-admin {
    border: 2px solid var(--dark-blue);
    background-color: var(--dark-blue);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}

.btn-login-admin:hover {
    background-color: white;
    color: var(--dark-blue);
}
