/* Paleta de colores */
:root {
    --dark-blue: #3d5a80;
    --light-blue: #98c1d9;
    --lighter-blue: #e0fbfc;
    --orange: #ee6c4d;
    --navy: #293241;
}

/* Fondo de la página */
body {
    background-color: var(--dark-blue);
    display: flex;
    min-height: 100vh;
    color: var(--navy);
    font-family: Arial, sans-serif;
}

/* Para nuestras páginas no dashboard*/
.body-centered{
    justify-content: center;
    align-items: center;
}

/* Contenedor de bienvenida */
.welcome-container {
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--light-blue);
}

/* Título principal */
.welcome-title {
    font-size: 2em;
    font-weight: bold;
    color: var(--dark-blue);
    margin-bottom: 20px;
}

/* Mensaje de bienvenida en la esquina superior izquierda */
.welcome-message {
    color: var(--navy);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: var(--light-blue);
    font-weight: bold;
    margin: 0;
}

/* Para ajustar el fondo de la bienvenida */
.welcome-background{
    display: inline-block; /* Permite que el fondo se ajuste al tamaño del contenido */
}

/* Logo */
.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

/* Botón de inicio de sesión adminsitrador */
.btn-login-admin {
    background-color: var(--orange);
    color: #fff;
    border: none;
}

.btn-login:hover{
    background-color: var(--dark-blue);
    color: #fff;
}

/* Botón de inicio de sesión alumno */
.btn-login-alumno {
    background-color: var(--lighter-blue);
    color: var(--dark-blue);
    border: none;
}

.btn-login-alumno:hover{
    background-color: var(--dark-blue);
    color: #fff;
}

/* Estilos para la barra de navegación fija */
.navbar-logo {
    max-height: 40px;
}

/* Estilos para la barra de navegación inferior */
.custom-navbar {
    background-color: var(--orange);
    color: #fff;
}

/* Logo dentro de la navbar */
.navbar-logo {
    max-height: 40px;
}

/* Estilos para el botón de logout */
.custom-logout-btn {
    background-color: var(--orange);
    color: #fff;
    border: none;
}

.custom-logout-btn:hover {
    background-color: var(--light-blue);
    color: var(--dark-blue);
}