/* custom_styles.css */

/* Paleta de colores */
:root {
    --dark-blue: #047cd7;
    --light-blue: #98c1d9;
    --lighter-blue: #e0fbfc;
    --orange: #de4f2b;
    --rojito: #ea6767;
    --rojo: #f34e4e;
    --navy: #131c81;
    --soft-orange: #f7b683;
    --soft-blue: #9bd0c8;
    --my-blue: #51abdb;
    --white: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--white);
    color: var(--my-blue);
}

.custom-card {
    background-color: var(--my-blue) !important;
    padding: 20px;
    border-radius: 15px;
    color: white;
}

.btn.custom-btn {
    background-color: var(--dark-blue);
    color: white;
    border: none;
    font-weight: bold;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

.btn.custom-btn:hover {
    background-color: var(--navy);
    color: var(--white);
    border-color: var(--navy);
}


.btn.custom-btn2 {
    background-color: var(--dark-blue);
    color: white;
    border-color: var(--dark-blue);
}

.btn.custom-btn2:hover {
    background-color: var(--navy);
    color: white;
    border-color: var(--navy);
}

.btn.custom-btn3 {
    background-color: var(--rojito);
    color: white;
    border-color: var(--rojito);
}

.btn.custom-btn3:hover {
    background-color: var(--rojo);
    color: white;
    border-color: var(--rojo);
}

.form-select img {
    margin-right: 10px;
    border-radius: 50%;
    vertical-align: middle;
}

.preview-container {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-preview {
    max-width: 150px;
    max-height: 150px;
    border-radius: 10px;
    border: 2px solid var(--dark-blue);
    background-color: var(--white);
    object-fit: cover;
    display: none; /* Oculta la imagen hasta que se cargue */
}
