<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de administrador - CBP</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link href="{% static '/css/dashboard_styles.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>

<body>
    <!-- Nueva barra de navegación superior -->
    <nav class="navbar fixed-top custom-navbar">
        <div class="container">
            <div class="navbar-left">
                <img src="{% static 'images/app_logo.jpeg' %}" alt="Logo" class="navbar-logo">
            </div>
            <div class="navbar-right">
                {% if request.user.person.picture %}
                    <img src="{{ request.user.person.picture.url }}" alt="Foto del usuario" class="user-photo">
                {% endif %}
                <a href="{% url 'logout' %}" class="btn custom-logout-btn">Logout</a>
            </div>
        </div>
    </nav>

    <!-- Ajustar el margen superior del contenido principal -->
    <div class="container-fluid content-container">
        <div class="row">
            <div class="col-sm-12 mb-3">
                <div class="welcome-background">
                    <h2 class="welcome-message px-3">Bienvenido/a, {{ request.user.get_full_name }}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 text-center vertical-buttons">
        <!-- Botones estilizados con clases predefinidas -->
        <a href="{% url 'home_register' %}" class="btn custom-logout-btn mb-3">Registrar Nuevo Usuario</a>
        <a href="{% url 'create_dinner_task' %}" class="btn custom-logout-btn mb-3">Asignar Tarea Comanda Comedor</a>
        <a href="{% url 'manage_menus' %}" class="btn custom-logout-btn mb-3">Gestionar Menús</a>
    </div>
</body>

</html>

