<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de tareas - CBP</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link href="{% static '/css/dashboard_styles.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>

<body>
    <!-- Nueva barra de navegación superior -->
    <nav class="navbar fixed-top custom-navbar">
        <div class="container">
            <div class="navbar-left">
                <img src="{% static 'images/app_logo.jpeg' %}" alt="Logo" class="navbar-logo">
            </div>
            <div class="navbar-right">
                {% if request.user.person.picture %}
                    <img src="{{ request.user.person.picture.url }}" alt="Foto del usuario" class="user-photo">
                {% endif %}
                <a href="{% url 'logout' %}" class="btn custom-logout-btn">Logout</a>
            </div>
        </div>
    </nav>

    <!-- Ajustar el margen superior del contenido principal -->
    <div class="container-fluid content-container">
        <div class="row">
            <div class="col-sm-12 mb-3">
                <div class="welcome-background">
                    <h2 class="welcome-message px-2">Bienvenido/a, {{ request.user.get_full_name }}</h2>
                </div>
            </div>
        </div>

        
        
        <div class="container-fluid mt-5">
            <h3 style="font-weight: bold;">Tareas por pasos</h3>
                <!-- Mostrar tareas asignadas si existen -->
                    {% if tasks %}
                        {% for task in tasks %} 
                        <a href="{% url 'task_by_step:view_task' task_id=task.id %}", style="text-decoration: none;">
                        <div class="row mt-4 g-0"> <!-- Reduce el espaciado con g-2 -->
                            <div class="col-12">
                                <div class="task-card py-2 text-center"> <!-- Reduce padding -->
                                    <h3 class="mt-2""><strong>{{ task.task_name }}</strong></h3>
                                    <h3 class="small mb-2"><strong>límite: {{ task.deadline|date:"d/m/Y" }}</strong></h3>
                                </div>
                            </div>
                        </div>
                        </a>
                        {% endfor %}
                {% else %}
                    <h4 class="text-center">No tienes tareas por pasos asignadas.</h4>
                {% endif %}
        </div>



        <div class="container-fluid mt-5">
            <h3 style="font-weight: bold;">Tareas Comedor</h3>
                <!-- Mostrar tareas asignadas si existen -->
                    {% if dinner_tasks %}
                        {% for task in dinner_tasks %} 
                        <a href="{% url 'tasks:dinner_task1' dinnerTask_id=task.id %}", style="text-decoration: none;">
                        <div class="row mt-4 g-0"> <!-- Reduce el espaciado con g-2 -->
                            <div class="col-12">
                                <div class="task-card py-2 text-center"> <!-- Reduce padding -->
                                    <h3 class="mt-2""><strong>{{ task.task_name }}</strong></h3>
                                    <h3 class="small mb-2"><strong>límite: {{ task.deadline|date:"d/m/Y" }}</strong></h3>
                                </div>
                            </div>
                            </div>
                        </a>
                        {% endfor %}
                {% else %}
                    <h4 class="text-center">No tienes tareas de Comedor asignadas.</h4>
                {% endif %}
        </div>
</body>

</html>


