<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido - CBP</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>

<body class="body-centered">
    <h1 class="main-title">INICIO DE SESIÓN</h1>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <!-- Contenedor de inicio de sesión pictogramas -->
            <a href="{% url 'login_pictogram1' %}" class="welcome-container-home col-sm-6">
                <h2 class="welcome-title">PICTOGRAMAS</h2>
                <div class="text-center">
                    <img src="{% static 'images/login_pictogram.png' %}" alt="Login pitogramas" class="logo logo-large mx-auto d-block">
                </div>
            </a>

            <!-- Contenedor de inicio de sesión alfanum -->
            <a href="{% url 'login' %}" class="welcome-container-home col-sm-6">
                <h2 class="welcome-title">ALFANUMÉRICO</h2>
                <div class="text-center">
                    <img src="{% static 'images/login_alfanum.png' %}" alt="Login alfanumérico" class="logo logo-large mx-auto d-block">
                </div>
            </a>
        </div>
    </div>
</body>

</html>
