<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - CBP</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
</head>
<body class="body-centered body-centered-register">
    <!-- Botón REGISTRO CON PICTOGRAMAS -->
    <a href="{% url 'register_pictogram1' %}" class="pictogramas-button pictogramas-button-register">
        <span>REGISTRO CON PICTOGRAMAS</span>
        <img src="{% static 'images/app_logo.jpeg' %}" alt="Logo de la app" class="button-image">
    </a>

    <div class="welcome-container no-hover-effect register-container">
        <!-- Logo de la aplicación -->
        <img src="{% static 'images/app_logo.jpeg' %}" alt="Logo de la app" class="logo">

        <!-- Formulario de registro -->
        <form method="post" action="{% url 'register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <!-- Mostrar mensajes de error o éxito -->
            {% if messages %}
                <div class="alert alert-danger mt-2">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            {% endif %}

            <button type="submit" class="btn btn-login-admin btn-block mt-3 btn-register">REGISTRAR USUARIO</button>
        </form>
    </div>
</body>
</html>
