<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login Pictograma</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="body-centered">
    <!-- Botón Alfanumerico con imagen debajo del texto -->
    <a href="{% url 'login' %}" class="pictogramas-button">
        <span>ALFANUMERICO</span>
        <img src="{% static 'images/login_alfanum.png' %}" alt="Logo de la app" class="button-image">
    </a>

    <div class="welcome-container static-container">
        <!-- Logo de la aplicación -->
        <img src="{% static 'images/app_logo.jpeg' %}" alt="Logo de la app" class="logo">

        <h1 class="mt-4">Seleccione un usuario</h1>

        <div class="d-flex justify-content-between">
            {% for person in persons %}
            <div class="p-5 user-card">
                <img src="{{person.picture.url}}" alt="{{ person.user.firstname}} {{person.user.lastname}}" class="user-image">
                <div class="user-info">
                    <h3>{{person.user.last_name}}, {{person.user.first_name}}</h3>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
