<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Login {{person.user.first_name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="body-centered">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="user-login-pictogram">
                    <img src="{{person.picture.url}}" alt="{{ person.user.firstname}} {{person.user.lastname}}"
                        class="user-image-login-pictogram">
                    <div class="user-info-pictogram">
                        <h3>{{person.user.last_name}}, {{person.user.first_name}}</h3>
                    </div>

                </div>
            </div>
            <div class="col-sm-8">
                <div class="welcome-container static-container">
                    <!-- Logo de la aplicación -->
                    <img src="{% static 'images/app_logo.jpeg' %}" alt="Logo de la app" class="logo">

                    <h1 class="mt-4">Seleccione los pictogramas</h1>

                    <!-- Contenedor de mensajes de error -->
                    <div id="error-message" style="color: red; display: none;"></div>

                    <div class="pictogram-container">
                        {% for pictogram in pictograms %}
                        <a href="#"
                            onclick="selectPictogram('{{ pictogram.id }}', '{{ pictogram.image.url }}'); return false;"
                            style="text-decoration: none">
                            <div class="p-5 pictogram-card">
                                <img src="{{pictogram.image.url}}"
                                    alt="{{ person.user.firstname}} {{person.user.lastname}}" class="pictogram-image">
                            </div>
                        </a>
                        {% endfor %}
                        <div class="selected-pictograms">
                            <div class="selected-pictogram" id="selected1"></div>
                            <div class="selected-pictogram" id="selected2"></div>
                            <button class="clear-selection" onclick="clearSelection()">🗑️</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        let selections = [];

        function selectPictogram(pictogramId, imageUrl) {
            if (selections.length < 2) {
                selections.push({ id: pictogramId, url: imageUrl });
                updateSelectedPictograms();

                if (selections.length === 2) {
                    sendSelections();
                }
            }
        }

        function updateSelectedPictograms() {
            selections.forEach((selection, index) => {
                document.getElementById(`selected${index + 1}`).innerHTML = `<img src="${selection.url}" alt="Selected Pictogram" style="width:100%; height:auto; border-radius: 30%">`;
            });
        }

        function clearSelection() {
            selections = [];
            document.getElementById('selected1').innerHTML = '';
            document.getElementById('selected2').innerHTML = '';
        }

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        const csrftoken = getCookie('csrftoken');

        function sendSelections() {
            const username = "{{ person.user.username }}"; // Ensure this is available in your template context
            const url = `/login_pictogram2/${username}/`;

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken // Include the CSRF token here
                },
                body: JSON.stringify({ selections })
            }).then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = data.success;
                    } else if (data.error) {
                        clearSelection();
                        showError(data.error);
                    }
                })
                .catch(error => console.error('Error:', error));
        }

        function showError(message) {
            const errorMessage = document.getElementById('error-message');
            errorMessage.textContent = message;
            errorMessage.style.display = 'block';

            // Ocultar el mensaje después de 3 segundos
            setTimeout(() => {
                errorMessage.style.display = 'none';
            }, 3000);
        }

    </script>

</body>

</html>